/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.main {
  position: relative;
  width: 100%;
}

.connecSvgWrapper {
  position: absolute;
  top: 20%;
  left: 50%;
}
.connectSvg {
  transform: translate(-50%, 0);
}